/* Banner */
.banner {
  padding: 150px 0;
  position: relative;
  z-index: 1;
}
.banner_img {
  height: 500px;
  width: 100%;
}
.banner_title {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}
